## ETL data from 3NF tables to Facts & Dimension Tables

In [1]:
!PGPASSWORD=student createdb -h 127.0.0.1 -U student pagila
!PGPASSWORD=student psql -q -h 127.0.0.1 -U student -d pagila -f Data/pagila-schema.sql
!PGPASSWORD=student psql -q -h 127.0.0.1 -U student -d pagila -f Data/pagila-data.sql

 setval
--------
    200
(1 row)

 setval
--------
    605
(1 row)

 setval
--------
     16
(1 row)

 setval
--------
    600
(1 row)

 setval
--------
    109
(1 row)

 setval
--------
    599
(1 row)

 setval
--------
   1000
(1 row)

 setval
--------
   4581
(1 row)

 setval
--------
      6
(1 row)

 setval
--------
  32098
(1 row)

 setval
--------
  16049
(1 row)

 setval
--------
      2
(1 row)

 setval
--------
      2
(1 row)

postgresql://student:student@127.0.0.1:5432/pagila

'Connected: student@pagila'

## ETL from 3NF to Star Schema

### 3NF - Entity Relationship Diagram

<img src="./pagila-3nf.png" width="50%"/>

### Star Schema - Entity Relationship Diagram

<img src="pagila-star.png" width="50%"/>

 * postgresql://student:***@127.0.0.1:5432/pagila
Done.

[]

In [9]:
%%sql
INSERT INTO dimDate (date_key, date, year, quarter, month, day, week, is_weekend)
SELECT DISTINCT(TO_CHAR(payment_date :: DATE, 'yyyyMMDD')::integer) AS date_key,
       date(payment_date)                                           AS date,
       EXTRACT(year FROM payment_date)                              AS year,
       EXTRACT(quarter FROM payment_date)                           AS quarter,
       EXTRACT(month FROM payment_date)                             AS month,
       EXTRACT(day FROM payment_date)                               AS day,
       EXTRACT(week FROM payment_date)                              AS week,
       CASE WHEN EXTRACT(ISODOW FROM payment_date) IN (6, 7) THEN true ELSE false END AS is_weekend
FROM payment;

 * postgresql://student:***@127.0.0.1:5432/pagila
40 rows affected.

[]

In [10]:
%%sql
CREATE TABLE dimCustomer
(
  customer_key SERIAL PRIMARY KEY,
  customer_id  smallint NOT NULL,
  first_name   varchar(45) NOT NULL,
  last_name    varchar(45) NOT NULL,
  email        varchar(50),
  address      varchar(50) NOT NULL,
  address2     varchar(50),
  district     varchar(20) NOT NULL,
  city         varchar(50) NOT NULL,
  country      varchar(50) NOT NULL,
  postal_code  varchar(10),
  phone        varchar(20) NOT NULL,
  active       smallint NOT NULL,
  create_date  timestamp NOT NULL,
  start_date   date NOT NULL,
  end_date     date NOT NULL
);

CREATE TABLE dimMovie
(
  movie_key          SERIAL PRIMARY KEY,
  film_id            smallint NOT NULL,
  title              varchar(255) NOT NULL,
  description        text,
  release_year       year,
  language           varchar(20) NOT NULL,
  original_language  varchar(20),
  rental_duration    smallint NOT NULL,
  length             smallint NOT NULL,
  rating             varchar(5) NOT NULL,
  special_features   varchar(60) NOT NULL
);
CREATE TABLE dimStore
(
  store_key           SERIAL PRIMARY KEY,
  store_id            smallint NOT NULL,
  address             varchar(50) NOT NULL,
  address2            varchar(50),
  district            varchar(20) NOT NULL,
  city                varchar(50) NOT NULL,
  country             varchar(50) NOT NULL,
  postal_code         varchar(10),
  manager_first_name  varchar(45) NOT NULL,
  manager_last_name   varchar(45) NOT NULL,
  start_date          date NOT NULL,
  end_date            date NOT NULL
);

 * postgresql://student:***@127.0.0.1:5432/pagila
Done.
Done.
Done.

[]

In [12]:
%%sql
INSERT INTO dimCustomer (customer_key, customer_id, first_name, last_name, email, address, 
                         address2, district, city, country, postal_code, phone, active, 
                         create_date, start_date, end_date)
SELECT ROW_NUMBER() OVER (ORDER BY 1) AS customer_key,
       c.customer_id AS customer_id,
       c.first_name AS first_name,
       c.last_name AS last_name,
       c.email AS email,
       a.address AS address,
       a.address2 AS address2,
       a.district AS district,
       ci.city AS city,
       co.country AS country,
       a.postal_code AS postal_code,
       a.phone AS phone,
       c.active AS active,
       c.create_date AS create_date,
       now()         AS start_date,
       now()         AS end_date
FROM customer c
JOIN address a  ON (c.address_id = a.address_id)
JOIN city ci    ON (a.city_id = ci.city_id)
JOIN country co ON (ci.country_id = co.country_id);

 * postgresql://student:***@127.0.0.1:5432/pagila
599 rows affected.

[]

 * postgresql://student:***@127.0.0.1:5432/pagila
1000 rows affected.

[]

 * postgresql://student:***@127.0.0.1:5432/pagila
2 rows affected.

[]

In [19]:
%%sql
CREATE TABLE factSales
(
  sales_key SERIAL PRIMARY KEY,
  date_key int REFERENCES dimDate(date_key),
  customer_key int REFERENCES dimCustomer(customer_key),
  movie_key int REFERENCES dimMovie(movie_key),
  store_key int REFERENCES dimStore(store_key),
  sales_amount numeric
);

 * postgresql://student:***@127.0.0.1:5432/pagila
Done.

[]

 * postgresql://student:***@127.0.0.1:5432/pagila
16049 rows affected.

[]